<%- include('./partials/header') %>
  <main>
    <h1>Welcome Home!</h1>
    <!-- So we use the special tags <%= %> to render out Javascript code -->
    <!-- So we use the special tags <% %> to run javascript code but the code inside does not get rendered -->
    <p><%= new Date() %></p>
    <p><%= 50 + 1000 %></p>
    <img src="https://memesbams.com/wp-content/uploads/2017/10/21-Much-Wow-Dog-Meme.jpg"/>
  </main>
<%- include('./partials/footer') %>
