<%- include('./partials/header') %>
  <main>
    <h1>Thank you, <%= fullName %>!</h1>
    <p> Your favourite color is: <%= favouriteColor %></p>
    <p>Your message:</p>
    <p><%= message %></p>
    <p> has been recieved on <%= day %></p>
  </main>
  <%- include('./partials/footer') %>